body {
  background: linear-gradient(266deg, #6c99b7, #b47cd4, #66e380);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
}

#chat-container {
  width: 70vw;
  height: 50vh;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}

#chat-input {
  outline: none;
  border: 0px;
  border-radius: 6px;
  margin-top: 3px;
}
.chat-message {
  background-color: lightskyblue;
  border-radius: 25%;
  margin: 5px;
  padding: 5px;
  clear: both;
  float: left;
}

#ok-button {
  outline: none;
  box-shadow: 0px 10px 14px -7px #caefab;
  background: linear-gradient(to bottom, #66de6e 5%, #519137 100%);
  background-color: #66de6e;
  border-radius: 4px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 13px;
  /* font-weight: bold; */
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
}
#ok-button:hover {
  background: linear-gradient(to bottom, #519137 5%, #66de6e 100%);
  background-color: #519137;
}
#ok-button:active {
  position: relative;
  top: 1px;
}

.chat-button {
  margin-top: 3px;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 19px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 3px 7px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
.chat-button:hover {
  background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
  background-color: #0688fa;
}
.chat-button:active {
  position: relative;
  top: 1px;
}

.compass {
  background: rgba(80, 204, 190, 0.3);
  width: 20vw;
  border: 2px solid black;
  display: grid;
  border-radius: 3px;
  /* grid-template-columns: 1fr; */
  /* width: 40%; */
  /* height: 70%; */
  /* width: 10vw; */
  margin: 1rem;
}
.compass-icon {
  /* position: center; */
  width: 4rem;
}
#heading {
  /* text-align: center; */
  font-size: 1rem;
}

#direction-header {
  /* border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black; */

  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  margin: 0px;
  padding-right: 10px;
  display: inline-block;
}
