body {
  background: linear-gradient(266deg, #3578cf, #6c99b7, #66e380);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 24%;
    }
    50% {
      background-position: 100% 77%;
    }
    100% {
      background-position: 0% 24%;
    }
  }
}

#chat-container {
  width: 70vw;
  height: 50vh;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
}

#chat-input {
  outline: none;
  border: 0px;
  border-radius: 6px;
  margin-top: 3px;
}
.chat-message {
  background-color: lightskyblue;
  border-radius: 25%;
  margin: 5px;
  padding: 5px;
  clear: both;
  float: left;
}

.compass {
  /* background: rgba(80, 204, 190, 0.3); */
  width: 20vw;
  /* border: 2px solid black; */
  display: grid;
  border-radius: 3px;
  /* grid-template-columns: 1fr; */
  /* width: 40%; */
  /* height: 70%; */
  /* width: 10vw; */
  margin: 1rem;
}
.compass-icon {
  /* position: center; */
  width: 4rem;
}
#heading {
  /* text-align: center; */
  font-size: 1rem;
}

#direction-header {
  /* border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black; */

  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  margin: 0px;
  padding-right: 10px;
  display: inline-block;
}
